<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') -%>


<body>

        <%- include ('partials/header.ejs') -%>
        <%- include ('partials/nav.ejs') -%>
    <main >
   <div class="col-md-6">
    <h2>ABOUT THE MUSIC CONNECTIONS MEETUP</h2>
    <p >This website gives details of the DJ meetups happening around Charlotte
        checkout the website showing top DJ's in the world :<a href="https://djmag.com/">LINK</a>
    </p>
    <br>
   
    </div>
</main>

<%- include ('partials/footer.ejs') -%>
</body>

</html>