<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head.ejs') -%>


    <body>
        
            <%- include ('partials/header.ejs') -%>
            <%- include ('partials/nav.ejs') -%>
        <main>
                <div class="col-md-6">
                        <h2>CONTACT DETAILS</h2>
                        <p >Contact the developer Rohan Sriram at <a href="https://mail.google.com/mail">rsriram@uncc.edu </a>for questions or issues regarding the website</p>
                        </div>

        </main>

        
<%- include ('partials/footer.ejs') -%>
</body>

</html>

