<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.ejs') -%>

<body>

    <%- include ('partials/header.ejs') -%>
    <%- include ('partials/nav.ejs') -%>

            <main >
            
            <h4 class="moverightside">Hey y'all! Welcome to the Music meetup </h4>
        <br>

            <div class="moverightside" ><b  >Attend this meetup/workshop to checkout the various artists <br> 
                and explore their generes <br>Get a deep insight of each artist's experiences and the secret behind their success
            <br><br> REGISTER OR SIGN IN TO CHECK OUT THE CONNECTIONS!</b></div>
                          
                                       

                </main>

    
                <%- include ('partials/footer.ejs') -%>

</body>

</html>

